---
---

//navs

nav{
  height: 150px;
  line-height: 150px;
  padding: 0px 75px;
  background: none;
  box-shadow: none;
  color: #000;
  font-family: 'Poppins', sans-serif;
  animation: slidein 2s;

  .brand-logo{
    color: #000;

    .semi-bold{
      font-weight: 600;
    }

  }

  .sidenav-trigger{
    i {
      color: #000;
      height: 150px !important;
      line-height: 150px !important;
      font-size: 2.5rem;
    }
  }

  ul li {
    list-style-type: none !important;
    a {
      color: #000;
      margin: 0px 10px;
      padding: 0px 10px;
    }
    a:hover{
      background-color: #fff;
    }
  }
  ul li:hover{
    background-color: #fff;
  }
}

.sidenav{
  font-family: 'Poppins', sans-serif;
  padding: 25px 0;

  .brand-logo{
    color: #000;
    font-size: 35px;
    margin: 25px 0;
    display: block;
  }

  li .btn{
    width: 70%;
    margin: 35px auto !important;
    text-align: center;
  }
  li .btn:hover{
    background-color: #4464ad !important;
  }
}

/* Color definitions */
.light-darkblue{

  .btn{
    background-color: #4464ad;
    color: #fff;
    box-shadow: none;
    padding: 25px 35px;
    line-height: 0;
  }

  .btn:hover{
    opacity: .8;
    background-color: #4464ad;
  }

  .textbox, .textbox-padding { // textbox-padding is used in the "post" section
    background-color: #4464ad;
    color: #fff;
    .btn{
      background-color: #fff;
      color: #4464ad;
      box-shadow: none;
      padding: 25px 35px;
      line-height: 0;
    }
  }
}

.darkblue-light{
  color: #fff;
  background-color: #4464ad;

  .btn{
    background-color: #fff;
    color: #4464ad;
    box-shadow: none;
    padding: 25px 35px;
    line-height: 0;
  }

  .btn:hover{
    opacity: .8;
    background-color: #fff;
  }
}

.light-allblue{
  color: #4464ad;
  background-color: #fff;

  .btn{
    background-color: #4464ad;
    color: #fff;
    box-shadow: none;
    padding: 25px 35px;
    line-height: 0;
  }
}

// End color definitions

//Start components

html{
  scroll-behavior: smooth;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: #fff dotted 2px;
    transition: .3s all;
  }
  a:hover{
    opacity: .8;
    border-bottom: #fff solid 2px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

section{
  padding: 35px;

  .center {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 75%;
    max-width: 1000px;

    h2 {
      text-align: center;
    }

    ul {
      li {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        text-align: left;
        list-style-type: disc;
        width: 90%;
        margin: 0 auto;
      }
    }

  }

}
.btn{
  border-radius: 0px;
}
.textbox, .textbox-padding {
  padding: 35px 65px;
  h1{
    font-family: 'Poppins', sans-serif;
    font-size: calc(35px + (45 - 35) * ((100vw - 522px) / (1912 - 522))) !important;
    padding: 10px 0px;
    margin: 0;
    text-align: center;
  }
  p{
    font-size: calc(20px + (22 - 20) * ((100vw - 823px) / (1912 - 823))) !important;
  }

  .btn{
    padding: 30px 40px !important;
  }
}
//end components

//start page flow

#header{
  padding: 25px 75px;
  padding-top: 10vmax;
  min-height: 90vh;

  a:hover{
    opacity: .8;
    border-bottom: #4464ad solid 2px;
  }

  h1 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 800;
    width: 75%;
    max-width: 900px;
    font-size: calc(62px + (95 - 62) * ((100vw - 823px) / (1912 - 823))) !important;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: calc(25px + (35 - 25) * ((100vw - 522px) / (1912 - 522))) !important;
    margin: 35px 0;
    width: 75%;
    max-width: 900px;

    a {
      color: #4464ad;
      text-decoration: none;
      border-bottom: #4464ad dotted 2px;
      transition: .3s all;
    }
  }
  .btn{
    font-size: 20px;
    padding: 35px 45px;
  }
}

#imagebanner{
  background-size: cover;
  background-image: url('../resources/img/banner.jpg');
  background-position: center top;
  height: 430px;
  background-attachment: fixed;
  display: block;
  margin: 0;
}

#agenda{
  text-align: center;
  margin: 0;
  display: block;
  padding: 100px 35px;
  h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    font-size: calc(45px + (55 - 45) * ((100vw - 522px) / (1912 - 522))) !important;
  }
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px !important;
    width: 75%;
    max-width: 796px;
    margin: 35px auto;
  }
}

#mission{
  position: relative;
  padding: 75px;

  img, .textbox {
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    display: block;
  }

}

#values {
  padding: 75px;
  ul {
    max-width: 1000px;
    width: 80%;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;

    li {

    }
  }

}
#transparency{
  padding: 105px 65px;
  padding-top: 205px;
  h6 {
    font-size: calc(20px + (25 - 20) * ((100vw - 522px) / (1912 - 522))) !important;
    margin: 0;
  }
  h2{
    font-size: calc(40px + (55 - 40) * ((100vw - 823px) / (1912 - 823))) !important;
    line-height: 1.2;
    margin-top: 10px;
    max-width: 1000px;
  }
  .btn{
    margin: 30px;
    margin-left: 0;
  }
}

footer{
  padding: 65px;
  padding-top: 100px;
  h2 {
    color: #4464ad;
    font-size: 35px;
    margin: 20px 0px;
  }
  p {
    font-size: 18px;
    font-weight: 300;
    margin: 30px 0px;
    a {
      color: #039be5 !important;
    }
  }
  .fa{
    font-size: 25px;
    padding-right: 20px;
  }
  .social{
    padding: 20px 0px;

    a {
      color: #000;
    }
  }
}


// platform page

#climate{
  .center {
    text-align: left;
    h2{
      text-align: center;
    }
    ul{
      li{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        text-align: left;
        list-style-type: disc;
      }
    }
  }
}

#guns {
  .center{
    text-align: left;

    h2 {
      text-align: center;
    }
  }

  a {
    border-bottom: #444 dotted 2px;
    color: #333;
    transition: .3s all;
  }
  a:hover{
    opacity: .6;
    border-bottom: #444 solid 2px;
  }

  ul{
    li{
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      text-align: left;
      list-style-type: disc;
    }
  }
}

#loans {
  .center {
    text-align: left;
    h2 {
      text-align: center;
    }
    ul {
      li {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        text-align: left;
        list-style-type: disc;
      }
    }
    p {
      a {
        border-bottom: #4464ad dotted 2px;
        color: #4464ad;
        transition: .3s all;
      }
      a:hover{
        opacity: .6;
        border-bottom: #000 solid 2px;
      }
    }
  }

}
// transparency page

#header {
  .transparency{
    font-size: calc(40px + (55 - 40) * ((100vw - 823px) / (1912 - 823)));
  }
}
#intro {
  padding: 150px 25px;

  .center {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;

      p{
        width: 85%;
        margin: 15px auto;
        text-align: center;
      }
  }
}

#tldr{
  padding: 75px;
  ul{
    max-width: 1000px;
    width: 80%;
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: left;
    li {
      margin: 15px 10px;
      list-style-type: disc;
    }
  }
}
#the-issue {
  padding: 100px 75px;
  padding-top: 0;

  p {
    max-width: 1000px;
    width: 85%;
    margin: 10px auto;
  }

}

#the-solution {
  padding: 100px 75px;
  padding-top: 0;

  p {
    max-width: 1000px;
    width: 85%;
    margin: 10px auto;
  }

}

// blog section


#logo {
  padding: 15px;
  padding-right: 30px;
  position: sticky;
  transition: .3s all;
  top: 10%;
  left: 5%;

  h1 {
    text-align: center;
    color: #4464ad;
    font-size: calc(45px + (55 - 45) * ((100vw - 522px) / (1912 - 522))) !important;
  }
  p {
    text-align: center;
  }
}
#articlelist {
  border-left: #eee solid 1px;
  padding: 25px;
  padding-left: 50px;
  float: right;

  a {
    color: inherit;

    .article {
      margin-bottom: 35px;
      width: 100%;

      h2 {
        font-size: 25px;
        margin: 0;
        font-weight: bold;
      }

      .type {
        font-size: 18px;
        margin: 5px 0px;
        color: #4464ad;
      }

      p{
        margin: 0;
        font-size: 18px;
      }

      .author::before{
        content: 'By: '
      }

      .author{
        font-style: italic;
        font-size: 14px;
      }

    }
  }
}

#articlelist::after{
  clear: both;
}

// Blog article

#article {
  .banner-img{
    width: 90%;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
  }

  .textbox, .textbox-padding {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;

    .title {
      font-size: calc(40px + (55 - 40) * ((100vw - 823px) / (1912 - 823))) !important;
    }
    .subtitle {
      font-size: calc(20px + (25 - 20) * ((100vw - 823px) / (1912 - 823))) !important;
      text-align: center;
      font-weight: 300;
      margin: 0;
    }
    .byline {
      font-weight: 300;
      text-align: center;
      margin: 0;
    }
  }

  .textbox-padding {
    margin-top: -100px;
    position: relative;
  }
  .articlebody{
    padding: 15px;
    margin: 25px auto;
    display: block;
    width: 60%;
    p {
      margin-bottom: 15px;

    }
  }
}



//media queries

@media(max-width: 992px){
  nav{
    padding: 0px 50px;
  }
  #header{
    h1{
      width: 75%;
    }
  }
  #mission{
    padding: 25px;
    img, .textbox{
      width: 100%;
    }
  }

  #values {
    ul {
      width: 90%;
    }
  }

  #intro {
    p {
      width: 90%;
      text-align: left;
    }
  }

  #blog {

    #logo {
      position: relative;
      top: unset;
      left: unset;
      p {
        width: 85%;
        margin: 15px auto;
      }
      padding: 15px;
    }

    #articlelist {
      border-left: none;
      border-top: #eee solid 1px;
    }
    a {
      .article {
      width: 90%;
      }
    }
  }

  #article {
    .banner-img{
      width: 100%;
    }

    .textbox{

    }

    .articlebody{
      width: 80%;
    }
  }
}
