<section id="header" class="light-darkblue">
  <h2 class="transparency">Contact Us</h2>
  <p>There are a few ways for you to get in touch with us. You can access them here!</p>
</section>

<section class="darkblue-light" id="facebook">
  <div class="center">
    <h2>Facebook Messenger</h2>
    <p>Use the chat pop-up on this page to chat with us in Messenger, or go to <a href="https://m.me/106520594190758">a Facebook Messenger chat window</a> with us!</p>
  </div>
</section>

<section class="light-darkblue" id="email">
  <div class="center">
    <h2>Email</h2>
    <p>For press inquiries, email <a href="mailto:press@youpac.org">press@youpac.org</a>. For all other questions, comments, or concerns, please email <a href="mailto:contact@youpac.org">contact@youpac.org</a>.</p>
  </div>
</section>
