<footer class="light-darkblue">
  <h2>YouPAC</h2>
  <p>The Youth Political Action Committee</p>
  <p><a href="{{'/contact'}}">Contact Us</a></p>
  <div class="social">
    <i class="fa fa-facebook"></i> <a href="https://instagram.com/youth.pac"><i class="fa fa-instagram"></i></a> <i class="fa fa-twitter"></i>
  </div>
  <p class="paidfor">Paid for by the Youth Political Action Committee (YouPAC). <br> Not authorized by any candidate or candidate’s committee. <br> FEC ID#: <a href="https://www.fec.gov/data/committee/C00733865/">C00733865</a></p>
</footer>
