<header class="light-darkblue">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="{{'/resources/img/youpac_low_res_logo.png' | absolute_url}}" alt="YouPAC Logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{'/platform' | relative_url}}">Our Platform</a></li>
        <li><a href="{{'/mission' | relative_url}}">Our Mission</a></li>
        <li><a href="{{'/transparency' | relative_url}}">Transparency</a></li>
        <li><a href="https://medium.com/@youpac">Blog</a></li>
        <li><a class="waves-effect waves-light btn" href="https://secure.actblue.com/donate/youpac">DONATE</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav light-darkblue" id="mobile-demo">
    <a href="/" class="brand-logo"><img src="{{'/resources/img/youpac_low_res_logo.png' | absolute_url}}" alt="YouPAC Logo"></a>
    <li><a href="{{'/platform' | relative_url}}">Our Platform</a></li>
    <li><a href="{{'/mission' | relative_url}}">Our Mission</a></li>
    <li><a href="{{'/transparency' | relative_url}}">Transparency</a></li>
    <li><a href="https://medium.com/@youpac">Blog</a></li>
    <li><a class="waves-effect waves-light btn" href="https://secure.actblue.com/donate/youpac">DONATE</a></li>
  </ul>
</header>
