<header class="light-darkblue">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><span class="semi-bold">You</span>PAC</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Our Platform</a></li>
        <li><a href="badges.html">Our Mission</a></li>
        <li><a href="collapsible.html">Transparency</a></li>
        <li><a class="waves-effect waves-light btn" href="mobile.html">DONATE</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav light-darkblue" id="mobile-demo">
    <a href="#!" class="brand-logo"><span class="semi-bold">You</span>PAC</a>
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a class="waves-effect waves-light btn" href="mobile.html">DONATE</a></li>
  </ul>
</header>
