<header class="light-darkblue">
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><span class="semi-bold">You</span>PAC</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{'/platform' | relative_url}}">Our Platform</a></li>
        <li><a href="{{'/mission' | relative_url}}">Our Mission</a></li>
        <li><a href="{{'/transparency' | relative_url}}">Transparency</a></li>
        <li><a href="{{'/blog' | relative_url}}">Blog</a></li>
        <li><a class="waves-effect waves-light btn" href="https://actblue.com/">DONATE</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav light-darkblue" id="mobile-demo">
    <a href="#!" class="brand-logo"><span class="semi-bold">You</span>PAC</a>
    <li><a href="{{'/platform' | relative_url}}">Our Platform</a></li>
    <li><a href="{{'/mission' | relative_url}}">Our Mission</a></li>
    <li><a href="{{'/transparency' | relative_url}}">Transparency</a></li>
    <li><a href="{{'/blog' | relative_url}}">Blog</a></li>
    <li><a class="waves-effect waves-light btn" href="https://actblue.com/">DONATE</a></li>
  </ul>
</header>
