<section id="header" class="light-darkblue">
  <h2 class="transparency">Mission, Vision, Values</h2>
  <p>We're guided by a simple, powerful idea: those affected by life-altering policy decisions should have a seat at the table.</p>
  <a class="waves-effect waves-light btn" href="#tldr">The tl;dr</a>
</section>

<section class="darkblue-light" id="intro">
  <div class="center">
    <h2>Our mission</h2>
    <p>YouPAC's central goal is to advocate the issues of young people around the country. In a time when our economic future, our environmental security, our very lives are being legislated away, we cannot stand by and wait our turn. We exist because young people are outvoiced by industry lobbies and representatives who can negotiate away our futures without facing significant political consequences. The only way to change this system that is to speak up.</p>
    <p>All around the country, America's youth are organizing&mdash;from <a href="https://marchforourlives.com/">March for our Lives</a> to <a href="https://google.com/">Global Week for our Future</a>. But the inaction in Washington and local legislatures has shown that this isn't enough. YouPAC invokes traditional tactics&mdash;fundraising, organizing, and independent advocacy&mdash;to hit home an agenda that protects our futures and fights for change we so desperately need.</p>
  </div>
</section>

<section class="light-allblue" id="vision">
  <div class="center">
    <h2>Our vision for the future</h2>
    <p>A lack of advocacy for youth issues has led to a categorical deprioritization of policies which could make our lives and futures more secure. We're not starting small, but we're starting specific: we want to reduce gun deaths in the United States, end predatory student loan practices endorsed by the federal government, and work towards a greener future for us and our children.</p>
  </div>
</section>

<section class="light-darkblue" id="the-issue">
  <div class="center">
    <h2>Our values</h2>
    <p>As an organization we are only as strong as the coalition we build; as people we are only as  We stand by the following value statements.</p>
    <ul>
      <li><b>We will be the change we wish to see</b>. Today's political climate is toxic. We recognize that we won't get where we want to be by contributing in this manner.</li>
    </ul>
  </div>
</section>
