<section id="header" class="light-darkblue">
  <h2 class="transparency">Transparency</h2>
  <p>Super PAC's don't have the best reputation. Here's our take on the issue, and what we're doing to turn the tide.</p>
  <a class="waves-effect waves-light btn" href="#tldr">The tl;dr</a>
</section>

<section class="darkblue-light" id="intro">
  <div class="center">
    <h2>What's wrong with Super PACs?</h2>
    <p>Frankly, a lot. However, there are steps we're going to take to hold ourselves accountable to our donors the public.</p>
  </div>
</section>

<section class="light-allblue" id="tldr">
  <div class="center">
    <h2>The tl;dr</h2>
    <ul>
      <li>Super PACs can accept an unlimited amount of money from corporations that anonymize contributions. To remedy this and promote transparency, <b>YouPAC won't accept any money from corporations</b>. Every dollar contributed to us will be donated by individuals, and disclosed on regular reports.</li>
      <li>Traditional methods of disclosure aren't friendly to the public. Social media ad libraries and lists of itemized expenditures and donations are all scattered throughout the internet. Some PACs and campaigns relish in this. <b>YouPAC will publicly post&mdash;in one place on our website&mdash;all receipt and expenditure data. We'll work to create intuitive, streamlined exploration of any and all ads we've run, and make browsing our financial data easier for <i>everyone</i></b>.</li>
    </ul>
  </div>
</section>

<section class="light-darkblue" id="the-issue">
  <h2>The problem</h2>
  <p>Super PACs exist because of <i>Citizens United v. FEC</i>, a landmark Supreme Court case that essentially ruled that individuals, corporations, etc. could spend as much as you they want to advocate for or against a candidate in an election, as long as they don't coordinating with or give money to a camapign.</p>
  <p>The big problem with this ruling, in our view, isn't necessarily that it lets individuals contribute as much as they want&mdash;if you believe in a candidate or cause so much that you'd like to spend money printing out leaflets or stickers and passing them around campus, you should be allowed to do that! The thing that stops this from breaking politics is the fact that <b><i>all</i> of this has to happen with disclosure</b>. If you contribute more than $200 to a Super PAC, they're obligated to list your name and how much you contributed on their regular reports.</p>
  <p>And that's where things start to get hairy. Corporations can donate directly to Super PACs. This opens the doors for shell corporations to allow individuals to anonymously funnel unlimited funds into political speech. Individuals need not stand by the statements they make. Take, for instance, a hypothetical coal tycoon billionaire who funnels millions into PACs that lobby issues and candidates favorable to their financial interest. Those millions of dollars <i>should</i> be public record, so journalists and concerned citizens can point out that those ads are funded by someone who has a concrete financial interest in the issue. All that would be reported is the name of the corporation they set up to anonymize their contributions.</p>
  <p>This is a flawed system.</p>
</section>


<div class="light-darkblue" id="the-solution">
  <h2>The Solution</h2>
  <p></p>
</div>
