<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouPAC | {{page.title}}</title>

    {% include general.html %}
  </head>
  <body>
    {% include header.html %}

    <section id="header" class="light-darkblue">
      <h1>Youth Political Action Committee</h1>
      <p>Advocating an agenda for tomorrow.</p>
      <a class="waves-effect waves-light btn" href="#mission">Learn More</a>
    </section>

    <section id="imagebanner">

    </section>
    <section class="darkblue-light" id="agenda">
      <h1>Advocating youth-focused policies</h1>
      <p>Read more about our progressive platform centered around achieving meaningful reform in climate change, gun control, and student loan policy.</p>
      <a class="waves-effect waves-light btn" href="{{'/platform' | relative_url}}">Read More</a>

    </section>
    <section class="light-darkblue" id="mission">
      <img src="resources/img/protest.jpg" alt="Photo credits: Li-an Lim @ https://unsplash.com/photos/ycW4YxhrWHM">
      <div class="textbox">
        <h1>Making a change, making it count</h1>
        <p>Today’s youth are more informed, more passionate, and more equipped to affect change than ever before. YouPAC seeks to empower them to have their voice heard from Washington to local elections—wherever change matters the most. Read more about why it matters, and what we’re doing to help.</p>
        <a class="waves-effect waves-light btn" href="{{'/mission' | relative_url}}">Read More</a>
      </div>
    </section>

    <section class="light-allblue" id="transparency">
      <h6>We get it. Super PACs aren't exactly "in" right now...</h6>
      <h2>Read about how we're redefining "PAC" with our commitment to transparency.</h2>
      <a class="waves-effect waves-light btn" href="{{'/transparency' | relative_url}}">Read More</a>
    </section>

    {% include footer.html %}

    <script src="js/scripts.js" charset="utf-8"></script>
  </body>
</html>
