<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90343467-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90343467-9');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouPAC | {{page.title}}</title>

    {% include general.html %}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v5.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="106520594190758"
theme_color="#4464ad"
logged_in_greeting="Have questions or concerns? Hit us up on Facebook Messenger!"
logged_out_greeting="Have questions or concerns? Hit us up on Facebook Messenger!">
    </div>
    {% include header.html %}

    <section id="header" class="light-darkblue">
      <h1>Youth Political Action Committee</h1>
      <p>Advocating an agenda for the future.</p>
      <a class="waves-effect waves-light btn" href="#mission">Learn More</a>
    </section>

    <section id="imagebanner">

    </section>
    <section class="darkblue-light" id="agenda">
      <h1>Youth-focused policies for a better tomorrow</h1>
      <p>Read more about our progressive platform centered around achieving meaningful reform in <a href="{{'/platform#climate' | relative}}">climate change</a>, <a href="{{'/platform#guns' | relative}}">gun control</a>, and <a href="{{'/platform#loans' | relative}}">student loan policy</a>.</p>
      <a class="waves-effect waves-light btn" href="{{'/platform' | relative_url}}">Read More</a>

    </section>
    <section class="light-darkblue" id="mission">
      <img src="resources/img/protest.jpg" alt="Photo credits: Li-an Lim @ https://unsplash.com/photos/ycW4YxhrWHM">
      <div class="textbox">
        <h1>Making a change, making it count</h1>
        <p>Today’s youth are more informed, more passionate, and more equipped to effect change than ever before. YouPAC seeks to empower them to have their voice heard from Washington to local elections&mdash;wherever change matters the most. Read more about why our policies matter, and how we're going about making these changes.</p>
        <a class="waves-effect waves-light btn" href="{{'/mission' | relative_url}}">Read More</a>
      </div>
    </section>

    <section class="light-allblue" id="transparency">
      <h6>We get it. Super PACs aren't exactly "in" right now...</h6>
      <h2>Read about how we're redefining "PAC" with our commitment to transparency.</h2>
      <a class="waves-effect waves-light btn" href="{{'/transparency' | relative_url}}">Read More</a>
    </section>

    <section class="light-darkblue" id="emaillist">
      <h1>Join our Email List</h1>
      <iframe src="https://script.google.com/macros/s/AKfycbw4V4u6ZwoLOWOyzIo8WFQL9igQvxT0hvDCxM0hgU7Y87KXDxQ/exec"></iframe>
    </section>

    {% include footer.html %}

    <script src="js/scripts.js" charset="utf-8"></script>
  </body>
</html>
