<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90343467-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90343467-9');
    </script>
    {% include metas.html %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>YouPAC | Blog - {{page.title}}</title>
    {% include general.html %}

  </head>
  <body id="article" class="light-darkblue">
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v5.0'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="106520594190758"
theme_color="#4464ad"
logged_in_greeting="Have questions or concerns? Hit us up on Facebook Messenger!"
logged_out_greeting="Have questions or concerns? Hit us up on Facebook Messenger!">
    </div>
    {% include header.html %}

    {% if page.img %}
      <img class="banner-img" src="/resources/img/{{page.img}}" alt="{{page.alt}}">
      <div class="textbox-padding">
        <h1 class="title">{{page.title}}</h1>
        {% if page.subtitle%}
          <h2 class="subtitle">{{page.subtitle}}</h2>
        {% endif %}
        <p class="byline">by {{page.author}}</p>
      </div>
    {% else %}
      <div class="textbox">
        <h1 class="title">{{page.title}}</h1>
        {% if page.subtitle%}
          <h2 class="subtitle">{{page.subtitle}}</h2>
        {% endif %}
        <p class="byline">by {{page.author}}</p>
      </div>
    {% endif%}

    <div class="articlebody">
      {{content}}
    </div>
    <script src="{{'/js/scripts.js' | relative_url}}" charset="utf-8"></script>
    {% include footer.html%}
  </body>
</html>
